:root {
    background-color: #333333;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    color: #ffffff;
}

@media screen and (max-width: 575px) {
    h1 {
      font-size: 75px;
    }
  }